<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Itinerary" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/menu" %>

    <div class="row main align-center">
      <%= yield %>

      <%= render "layouts/sidebar" %>
    </div>

    <div id="reveal-div"></div>

    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
